.container{
  justify-content: flex-start;
}
body {
  margin: 0 auto;
  /*text-align: center; */

}
nav{
  background-color: #ededed;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
nav a{
  text-decoration: none;
  color: #4DA2AF;
}
.header-txt {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  color:white;
  font-size: 50px;
  letter-spacing: 10px;

}
.date{
  float: left;

}
.row{
  display:flex;

}

.column {
  flex:25%;
  padding:40px;

}

img{
  width:100%;
}

footer{
  background-color: #CDF3F6;
  text-align: center;

}

.email{
  padding-top: 15px;
}
button{
 background-color: #CDF3F6;
 border: 2px solid black;
 font-size: 16px;
 padding: 12px;
}

button:hover{
  background: gray;
  color: white;
  transition: .3s ease-in;

}
.copyright{
  border-top: 4px solid black;
  padding-top: 10px;
  text-align: center;
}

nav, .date, .column1-heading, footer, .title{
  font-family: 'Raleway', sans-serif;
  color: #44545E;
}

.text{
  font-family: 'Lato', sans-serif;
  color: #7B868D;
}
.social {
  display:inline-flex;
  height: 50px;
  width: 50px;
  padding: 20px;
  /*padding-left: 15px;
  padding-right: 15px; */
}

li a{
  font-family: 'Raleway', sans-serif;
  line-height: 2.4em;
  text-decoration: none;
  color: #4DA2AF;
}

form{
  padding: 20px;
}
input{
  width:20%;
  font-size: 16px;
  padding:13px;
  text-align: center;
  margin-right: 10px;

}
